th {
  cursor: pointer;
  background-color: #f2f2f2;
  font-weight: bold;
  padding: 10px;
  width: 200px;
  text-align: left;
}

td {
  height: 50px;
}

.view-more {
  font-weight: bold;
  color: rgb(109, 88, 88);
  cursor: pointer;
}
